<form [formGroup]="newThreadForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input formControlName="title" type="text" class="form-control" id="title">
    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
      <div *ngIf="f.title.errors.required">Title is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
      <div *ngIf="f.title.description.required">Description is required</div>
    </div>
  </div>

  <span class="badge badge-primary mr-2" *ngFor="let i of tags">{{i}}</span>

  <div class="form-group">
    <label for="tag">Tags</label>
    <p>{{newTag}}</p>
    <input [(ngModel)]="newTag" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="tag">
    <button *ngIf="newTag" (click)="addToTags()" class="btn btn-primary"><i class="fa fa-plus"></i></button>    
  </div>

  <button [disabled]="loading" (click)="onSubmit()" class="btn btn-primary">Submit</button>
  <!-- <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div *ngIf="message" class="alert alert-success mu-1">{{message}}</div>

</form>
